*.pyc
.*.sw?
.DS_Store
db.sqlite3
grocerystore/migrations/0*
grocerystore/static/grocerystore/style-old.css
inflaskart/staticfiles
inflaskart/aws_access_key_id.txt
inflaskart/aws_secret_access_key.txt
inflaskart/old_secret_key.rtf
inflaskart/secret_key.txt
inflaskart/local_computer_name.txt

