<!DOCTYPE html>

<html lang="en">

  <head>
      <meta charset="UTF-8">
      <title>Inflaskart | Your cart</title>
      {% load static %}
      <link rel="stylesheet" type="text/css" href="{% static 'grocerystore/style.css' %}" />
  </head>

  <body>

    <header>

      <nav class="horiz-top-nav">

          <div class="dropdown">
            <button class="dropbutton">Choose a store</button>
            <div class="dropdown-content">
              {% if not request.user.is_authenticated %}
                <a href="{% url 'grocerystore:index' %}">Shop in another area</a>
              {% endif %}
              {% if available_stores %}
                <p>---Stores in {{zipcode}}---</p>
                {% for store in available_stores %}
                <a href="{% url 'grocerystore:store' zipcode store.pk %}">{{ store }}</a>
                {% endfor %}
              {% endif %}
            </div>
          </div>

        <div class="dropdown">
          <button class="dropbutton">Account</button>
          <div class="dropdown-content">
            {% if request.user.is_authenticated %}
              <a href="{% url 'grocerystore:profile' %}">Your profile</a>
              <a href="{% url 'grocerystore:logout' %}">Logout</a>
            {% else %}
              <a href="{% url 'grocerystore:login' %}">Login</a>
              <a href="{% url 'grocerystore:register' %}">Register</a>
            {% endif %}
          </div>
        </div>

        <div class="dropdown">
          <button class="dropbutton"><a href="{% url 'grocerystore:cart' zipcode %}">Cart</a></button>
        </div>

      </nav>

    </header>

    <main>

      <h3>Shopping in the {{ zipcode }} area</h3>

      <div id="all_carts">

        {% if all_carts %}

          {% for key, values in all_carts.items %}

            <section class="view_cart" name="{{ key.pk }}">

              <p>Your cart at <a href="{% url 'grocerystore:store' zipcode key.pk %}">{{ key }}:</a></p>

              {% for item in values|slice:":-1" %}
                <ul class="single_cart">
                <li><a href="{% url 'grocerystore:detail' zipcode key.pk item.5 %}">{{ item.0 }}</a>: {{ item.1 }} x {{ item.2 }}, ie.: ${{ item.3 }}</br>
                  <form action="" method="post">
                    {% csrf_token %}
                    <select name="{{item.4}}">
                      {% for quantity in quantity_set %}
                        <option value="{{quantity}}" {% if quantity == item.1 %} selected="selected" {% endif %}> {{ quantity }}</option>
                      {% endfor %}
                    </select>
                    <input type="submit" value="Update quantity" />
                  </form>
                </li></ul>
              {% endfor %}

              <div class="cart_total">
                <p>Cart total: ${{ values|last }}</p>
                <button id="chckbutton"><a href="{% url 'grocerystore:checkout' zipcode key.pk %}">Checkout</a></button>

                <form action="" method="post">
                  {% csrf_token %}
                  <input id="emptybutton" name="empty {{key.pk}}" type="submit" value="Empty cart" />
                </form>
              </div>

            </section>

          {% endfor %}

        {% else %}
          <p>Your cart is empty.</p>
        {% endif %}

      </div>

      <div id="messages">
        {% if messages %}
          <div id="messages-content">
            <ul>
              {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      </div>

    </main>

    <footer>
      <p id="footer">Contact: cowboy.de.tchernobyl@gmail.com</p>
    </footer>

  </body>

</html>
