<html>

  {% block head %}
    <title>Inflaskart | Your cart</title>
  {% endblock %}

  <body>

    <header>
        <h3>Your cart in the {{ zipcode }} area</h3>
    </header>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
          {{ message }}
        {% endfor %}
    </ul>
    {% endif %}

{% if all_carts %}

  {% for key, values in all_carts.items %}

    <section name="{{ key.pk }}" id="single_cart">

      <p>Here is your cart at <a href="{% url 'grocerystore:store' zipcode key.pk %}">{{ key }}:</a></p>

      {% for item in values|slice:":-1" %}
        <ul><li><a href="{% url 'grocerystore:detail' zipcode key.pk item.5 %}">{{ item.0 }}</a>: {{ item.1 }} x {{ item.2 }}, <br>Total = ${{ item.3 }}
          <form action="" method="post">
            {% csrf_token %}
            <select name="{{item.4}}">
              {% for quantity in quantity_set %}
                <option value="{{quantity}}" {% if quantity == item.1 %} selected="selected" {% endif %}> {{ quantity }}</option>
              {% endfor %}
            </select>
            <input type="submit" value="Update quantity" />
          </form>
        </li></ul>
      {% endfor %}

      <p>Cart total: ${{ values|last }} </p><br>

      <form action="" method="post">
        {% csrf_token %}
        <input name="empty {{key.pk}}" type="submit" value="Empty cart" />
      </form>

    </section>

  {% endfor %}

{% else %}
  <p>Your cart is empty.</p>
{% endif %}

    <a href="{% url 'grocerystore:start' zipcode %}">Choose a store</a><br>
    {% if username %}
      <a href="{% url 'grocerystore:profile' %}">View your profile</a><br>
      <a href="{% url 'grocerystore:logout' %}">Logout</a>
    {% else %}
      <a href="{% url 'grocerystore:index' %}">Shop in another area</a><br>
      <a href="{% url 'grocerystore:login' %}">Log in</a> -
      <a href="{% url 'grocerystore:register' %}">Create an account</a>
    {% endif %}

  </body>

</html>
