<html>

  {% block head %}
  <title>Inflaskart | Checkout</title>
  {% endblock %}

  <body>
    {% block body %}
      <header>
            {% if username %}
              <p> Checking out at {{store}}'s.</p>
              <p> The total amount is ${{amount_to_pay}}.</p>
              <p> Please enter your checkout information below: </p>
            {% endif %}
      </header>

      {% if messages %}
      <ul class="messages">
          {% for message in messages %}
            {{ message }}
          {% endfor %}
      </ul>
      {% endif %}

    {% if empty_cart %}
      <p>{{ empty_cart }}</p>
    {% else %}
    <form action="" method="post">
      {% csrf_token %}
      <p> {{ payment_form.as_table }} </p>
      <input type="submit" value="Submit" />
    </form><br>
    {% endif %}

    <a href="{% url 'grocerystore:cart' zipcode %}">View my cart</a> -
    <a href="{% url 'grocerystore:store' zipcode store_id %}">Continue shopping in this store</a> -
    <a href="{% url 'grocerystore:start' zipcode %}">Change store</a><br>
    <a href="{% url 'grocerystore:profile' %}">Your profile</a><br>
    <a href="{% url 'grocerystore:logout' %}">Logout</a>

    {% endblock %}
  </body>

</html>
