<!DOCTYPE html>

<html lang="en">

  <head>
    <title>Inflaskart | {{ product }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% load static from staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'grocerystore/style.css' %}" />
  </head>


  <body>

      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"> <!-- beginning of nav bar -->

        <div class="container-fluid"> <!-- padding 15px -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#to_collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'grocerystore:index' %}"><img src="{% static 'grocerystore/logo.png' %}" alt="Inflaskart logo" height="31"></a>
          </div>

          <div class="collapse navbar-collapse" id="to_collapse">
            <ul class="nav navbar-nav">
              {% if available_stores %}
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Shop in {{zipcode}}<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    {% for store in available_stores %}
                      <li><a href="{% url 'grocerystore:store' zipcode store.pk %}">{{ store }}</a></li>
                    {% endfor %}
                    <li><a href="{% url 'grocerystore:index' %}"><i>> shop elsewhere</i></a></li>
                  </ul>
                </li>
              {% endif %}
              <li><a href="{% url 'grocerystore:cart' zipcode %}"><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
            </ul>

            <form class="nav navbar-nav navbar-form" role="search" action="" method="post">
              {% csrf_token %}
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search {{store.store_name}}" name="search">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </form>

            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span><span class="caret"></span></a>
                <ul class="dropdown-menu">
                  {% if request.user.is_authenticated %}
                    <li><a href="{% url 'grocerystore:profile' %}">Your profile</a></li>
                    <li><a href="{% url 'grocerystore:orders' zipcode store.pk %}">Your orders in this store</a></li>
                    <li><a href="{% url 'grocerystore:logout' %}"><span class="glyphicon glyphicon-off"></span> Log out</a></li>
                  {% else %}
                    <li><a href="{% url 'grocerystore:login' %}">Login</a></li>
                    <li><a href="{% url 'grocerystore:register' %}">Sign up</a></li>
                  {% endif %}
                </ul>
              </li>
            </ul>

          </div>
        </div>
      </nav> <!-- end of nav bar -->


    <div class="page-header">
      <h4>{{ product.product_name }} </h4> <h6>at <a href="{% url 'grocerystore:store' zipcode store_id %}"> {{ store }}</a></h6>
    </div>


    <div class="container"> <!-- beginning of main content -->

      {% if messages %}
        {% for message in messages %}
          {% if message.tags == 'error' %}
            <div class="alert alert-danger" role="alert">{{ message }}</div>
          {% else %}
            <div class="alert alert-{{message.tags}}" role="alert">{{ message }}</div>
          {% endif %}
        {% endfor %}
      {% endif %}

      <div id="product-details-section">
        <div class="product-pic">
          {% if product.product_pic %}
            <img src="{{ product_pic.url }}" alt=""/>
          {% endif %}
        </div>

        <div class="product_details">
          <p><b>Price:</b> ${{ product_availability.product_price }} / {{ product_availability.product_unit }}</p>
          <p><b>Category:</b> {{ product.product_category }}</p>
          {% if product_dietaries %}
            <p><b>Dietary:</b> {% for diet in product_dietaries %} {{ diet }}{% endfor %}</p>
          {% endif %}
          {% if product_brand_or_variety %}
            <p><b>Brand / variety:</b> {{ product_brand_or_variety }}</p>
          {% endif %}
          {% if product_description %}
            <p><b>Description:</b> {{ product_description }}</p>
          {% endif %}
          {% if user_id_required %}
            <p style="color:red;">You must be over 21 to buy this product.</p>
          {% endif %}
        </div>

        <div class="qty_selection">
          <form action="" method="post">
            {% csrf_token %}
            <select id="{{product.pk}}" name="{{product.pk}}">
              {% for quantity in quantity_set %}
                <option value="{{quantity}}"> {{ quantity }}</option>
              {% endfor %}
            </select>
            <input type="submit" class="btn btn-info btn-xs" value="Add">
          </form>
        </div>

      </div>

      {% if other_availabilities %}
        <div class="other_availabilities">
          <p><b>A similar '{{ product.product_name }}' is available in the store(s) below:</b></p>
          <ul>
          {% for availability in other_availabilities %}
            <div class="row"><li><a href="{% url 'grocerystore:detail' zipcode availability.store.pk availability.product.pk %}">
                @ {{availability.store}}</a>: ${{availability.product_price}} / {{availability.product_unit}}</li></div>
          {% endfor %}
          </ul>
        </div>
      {% endif %}

    </div> <!-- end of main content -->


    <footer class="footer"> <!-- beginning of footer -->
      <div id="footer_links">
        <a target="_blank" href="https://www.github.com/eugenielm/">Github</a>
        |
        <a target="_blank" href="https://www.linkedin.com/in/eugenie-le-moulec/">LinkedIn</a>
        |
        <a href="{% static 'grocerystore/LE_MOULEC_Eugenie-RESUME.pdf' %}" download="LE_MOULEC_eugenie_resume.pdf">Resume</a>
        |
        <p id="footer_contact">Contact: eugenie.le.moulec@gmail.com</p>
      </div>
    </footer> <!-- end of footer -->


  </body>

</html>
