{% extends 'grocerystore/base_with_search.html' %}
{% load static from staticfiles %}

{% block content %}

  <div class="page-header">
    <h4>{{ product.product_name }} </h4> <h6>at <a href="{% url 'grocerystore:store' zipcode store_id %}"> {{ store }}</a></h6>
  </div>


  <div class="container"> <!-- beginning of main content -->

    {% if messages %}
      {% for message in messages %}
        {% if message.tags == 'error' %}
          <div class="alert alert-danger" role="alert">{{ message }}</div>
        {% elif message.tags == 'info' %}
          {% if 'Keep shopping' in message.message %}
            <div class="alert alert-{{message.tags}}" role="alert"><a href="{% url 'grocerystore:store' zipcode store.pk %}"><b>{{message}}</b></a></div>
          {% else %}
            <div class="alert alert-{{message.tags}}" role="alert"><a href="{% url 'grocerystore:store' zipcode go_back %}"><b>{{message}}</b></a></div>
          {% endif %}
        {% elif message.tags == 'warning' and go_back and searched_item %}
          <div class="alert alert-warning" role="alert">
            {{message}} Click <a href="{% url 'grocerystore:search' zipcode go_back searched_item %}"><b>here</b></a> to go back to your search.</b></a>
          </div>
        {% else %}
          <div class="alert alert-{{message.tags}}" role="alert">{{ message }}</div>
        {% endif %}
      {% endfor %}
    {% endif %}

    <div id="product-details-section">
      <div class="product-pic">
        {% if product.product_pic %}
          <img src="{{ product.product_pic.url }}" alt="{{product.product_name}}"/>
        {% else %}
          <img src="{% static 'grocerystore/no_pic_available.jpg' %}" alt="{{product.product_name}}"/>
        {% endif %}
      </div>

      <div class="product_details">
        <p><b>Price:</b> ${{ product_availability.product_price }} / {{ product_availability.product_unit }}</p>
        <p><b>Category:</b> {{ product.product_category }}</p>
        {% if product_dietaries %}
          <p><b>Dietary:</b> {% for diet in product_dietaries %} {{ diet }}{% endfor %}</p>
        {% endif %}
        {% if product_brand_or_variety %}
          <p><b>Brand / variety:</b> {{ product_brand_or_variety }}</p>
        {% endif %}
        {% if product_description %}
          <p><b>Description:</b> {{ product_description }}</p>
        {% endif %}
        {% if user_id_required %}
          <p id="required_age">You must be over 21 to buy this product.</p>
        {% endif %}
      </div>

      <div class="qty_selection">
        <form action="" method="post">
          {% csrf_token %}
          <select id="input_{{product.pk}}" name="{{product.pk}}" onchange="if (value == 'other') {
            document.getElementById('input_{{product.pk}}').style.display = 'none';
            document.getElementById('other_qty_{{product.pk}}').style.display = 'inline-block';
            document.getElementById('input_{{product.pk}}').setAttribute('name', '');
            document.getElementById('other_qty_input_{{product.pk}}').setAttribute('name', '{{product.pk}}');}">
            {% for quantity in quantity_set %}
              <option value="{{quantity}}">{{ quantity }}</option>
            {% endfor %}
          </select>

          <div id="other_qty_{{product.pk}}" style="display:none;">
            {% if product_availability.product_unit == "lb" and product.product_category.parent.top_category|lower == "produce" %}
              <input class="quantity_input" id="other_qty_input_{{product.pk}}" type="text" name="" value="" pattern="[0-9]{1,2}([.,]{1}[0-9]{1})?" autofocus>
            {% elif product_availability.product_unit == "lb" and "counter" in product.product_category.sub_category_name|lower %}
              <input class="quantity_input" id="other_qty_input_{{product.pk}}" type="text" name="" value="" pattern="[0-9]{1,2}([.,]{1}[0-9]{1})?" autofocus>
            {% else %}
              <input class="quantity_input" id="other_qty_input_{{product.pk}}" type="text" name="" value="" pattern="[1-9]{1}[0-9]?" autofocus>
            {% endif %}
          </div>
          <input class="btn btn-info btn-xs quantity_input_button" type="submit" value="ok">

        </form>
      </div>

    </div>

  </div> <!-- end of main content -->

{% endblock %}
