<!DOCTYPE html>

<html lang="en">

  <head>
    <title>Inflaskart | Welcome</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% load static from staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'grocerystore/style.css' %}" />
  </head>


  <body>


<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="index_top_bar"> <!-- beginning of nav bar -->
  <div class="container-fluid">
    <div id="welcome_navbar">
      <h3>Welcome to Inflaskart</h3>
      <p>*** Enjoy shopping your groceries online! ***</p>
    </div>
    {% if username %}
    <div class="dropdown dropdown_index">
        <button class="btn btn-default dropdown-toggle" id="index_profile_button" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span><span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="{% url 'grocerystore:profile' %}">Your profile</a></li>
            <li><a href="{% url 'grocerystore:cart' zipcode %}">Your cart</a></li>
            <li><a href="{% url 'grocerystore:logout' %}"><span class="glyphicon glyphicon-off"></span> Log out</a></li>
        </ul>
    </div>
    {% else %}
      <div class="dropdown dropdown_index">
          <button class="btn btn-default dropdown-toggle" id="index_profile_button" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span><span class="caret"></span></button>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="{% url 'grocerystore:cart' zipcode %}">Your cart</a></li>
          </ul>
      </div>
    {% endif %}
  </div>
</nav> <!-- end of nav bar -->


    <div class="container" style="margin-bottom:-10px"> <!-- beginning of main content -->

      {% if messages %}
        <div class="messages">
          <ul>
            {% for message in messages %}
              <div class="message"><li class="{{ message.tags }}">{{ message }}</li></div>
            {% endfor %}
          </ul>
        </div>
      {% endif %}

      {% if hire_me %}
        <div class="hire_me">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h5 class="panel-title">
                <a class="accordion-toggle btn-block" data-toggle="collapse" href="#collapse1" aria-expanded="false">Liked your experience, {{username}}?</a>
              </h5>
            </div>
            <div id="collapse1" class="panel-collapse collapse" aria-expanded="false">
              <div class="panel-footer">
                <p style="font-weight:bold">Looking for a backend/fullstack developer in SF?</p>
                <p style="font-weight:bold;display:inline-block">Hire me!</p>
                <p id="resume"><span style="text-decoration:underline"><a href="{% static 'grocerystore/LE_MOULEC_Eugenie-RESUME.pdf' %}" download="LE_MOULEC_eugenie_resume.pdf" class="btn btn-info btn-xs" role="button">Download resume</a></span></p>
              </div>
            </div>
          </div>
        </div>
      {% endif %}

      {% if username %}
        <div class="personal-welcome">
          <p style="margin:0px auto 3vh auto"><a href="{% url 'grocerystore:start' zipcode %}" class="btn btn-success btn-md" role="button">Shop in {{ zipcode }}</a></p>
          <form class="zipcode_choice" action="" method="post">
            {% csrf_token %}
            <select name="zipcode_choice" onchange='if (this.value != "-- Shop elsewhere --") { this.form.submit(); }'>
              {% for zipcode in zipcode_set %}
                <option value="{{zipcode}}">{{ zipcode }}</option>
              {% endfor %}
            </select>
          </form>
          <p style="font-size:small;font-style:italic">This <a target="_blank" href="http://www.cccarto.com/ca/sanfran/files/san%20francisco%20county%20zip%20code%20map.jpg" style="text-decoration:underline">map</a> of the city may be helpful (source: cccarto.com)</p>
        </div>

      {% else %}
        <div class="personal-welcome">
          <form class="zipcode_choice" action="" method="post">
            {% csrf_token %}
            <select name="zipcode_choice" onchange='if(this.value != "-- Choose a ZIP code area to shop in --") { this.form.submit(); }'>
              {% for zipcode in zipcode_set %}
                <option value="{{zipcode}}">{{ zipcode }}</option>
              {% endfor %}
            </select>
          </form>
          <p style="font-size:small;font-style:italic">This <a target="_blank" href="http://www.cccarto.com/ca/sanfran/files/san%20francisco%20county%20zip%20code%20map.jpg" style="text-decoration:underline">map</a> may be helpful (source: cccarto.com)</p>

          <div id="index-identification">
            <p><a id="login" href="{% url 'grocerystore:login' %}" class="btn btn-info btn-md" role="button">login</a></p>
            <p><a id="register" href="{% url 'grocerystore:register' %}" class="btn btn-info btn-md" role="button">sign up</a></p>
          </div>
        </div>
      {% endif %}

    </div> <!-- end of main content -->


    <footer class="footer"> <!-- beginning of footer -->
      <div id="footer_links">
        <a target="_blank" href="https://www.github.com/eugenielm/">Github</a>
        |
        <a target="_blank" href="https://www.linkedin.com/in/eugenie-le-moulec/">LinkedIn</a>
        |
        <a href="{% static 'grocerystore/LE_MOULEC_Eugenie-RESUME.pdf' %}" download="LE_MOULEC_eugenie_resume.pdf">Resume</a>
        |
        <p id="footer_contact">Contact: eugenie.le.moulec@gmail.com</p>
      </div>
    </footer> <!-- end of footer -->


  </body>

</html>
