{% extends 'grocerystore/base.html' %}

{% block head %}
    <h1>Welcome to the Inflaskart home page</h1>
    <h3>Inflaskart is a revolutionary app to shop your groceries on line!</h3>
{% endblock %}

{% block body %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
          {{ message }}
        {% endfor %}
    </ul>
    {% endif %}
    <ul>
        {% if user.username %}
          <a href="{% url 'grocerystore:user_home' user.username %}"> My account </a>
        {% else %}
          <a href="{% url 'grocerystore:register' %}"> Create an account </a><br>
          <a href="{% url 'grocerystore:login' %}"> Login </a>
        {% endif %}
    </ul>
{% endblock %}
