{% extends 'grocerystore/base_with_search.html' %}
{% load static from staticfiles %}

{% block content %}

  <div class="page-header">
    <h4>'{{ subcategory }}' </h4> <h6>at <a href="{% url 'grocerystore:store' zipcode store_id %}">{{ store }}</a></h6>
  </div>


  <div class="container"> <!-- beginning of main content -->

    {% if messages %}
      {% for message in messages %}
        {% if message.tags == 'error' %}
          <div class="alert alert-danger" role="alert">{{ message }}</div>
        {% elif message.tags == 'info' %}
          <div class="alert alert-info" role="alert">Keep shopping at <a href="{% url 'grocerystore:store' zipcode store_id %}">{{ message }}</a></div>
        {% else %}
          <div class="alert alert-{{message.tags}}" role="alert">{{ message }}</div>
        {% endif %}
      {% endfor %}
    {% endif %}

    {% if available_products %}
      <div id="all_products">
        {% for availability in available_products %}
        <div class="available_product">
          <a href="{% url 'grocerystore:detail' zipcode store_id availability.product.pk %}">
            <div class="product_button">
              <div class="product_button_content"> <!-- div needed to center vertically -->
                {% if availability.product.product_pic %}
                  <img src="{{ availability.product.product_pic.url }}" alt="{{availability.product.product_name}}">
                {% else %}
                  <img src="{% static 'grocerystore/no_pic_available.jpg' %}" alt="{{availability.product.product_name}}"/>
                {% endif %}
                <p>{{ availability.product }} | <b>${{ availability.product_price }} / {{ availability.product_unit }}</b></p>
              </div>
            </div></a>
          <form class="qty_selection" action="" method="post">
            {% csrf_token %}
              <select id="input_{{availability.pk}}" name="{{availability.pk}}" onchange="if (value == 'other') {
                document.getElementById('input_{{availability.pk}}').style.display = 'none';
                document.getElementById('other_qty_{{availability.pk}}').style.display = 'inline-block';
                document.getElementById('input_{{availability.pk}}').setAttribute('name', '');
                document.getElementById('other_qty_input_{{availability.pk}}').setAttribute('name', '{{availability.pk}}');}">
                {% for quantity in quantity_set %}
                  <option value="{{quantity}}">{{ quantity }}</option>
                {% endfor %}
              </select>

              <div id="other_qty_{{availability.pk}}" style="display:none;">
                {% if availability.product_unit == "lb" and availability.product.product_category.parent.top_category|lower == "produce" %}
                  <input class="quantity_input" id="other_qty_input_{{availability.pk}}" type="text" name="" value="" pattern="[0-9]{1,2}([.,]{1}[0-9]{1})?" autofocus>
                {% elif availability.product_unit == "lb" and "counter" in availability.product.product_category.sub_category_name|lower %}
                  <input class="quantity_input" id="other_qty_input_{{availability.pk}}" type="text" name="" value="" pattern="[0-9]{1,2}([.,]{1}[0-9]{1})?" autofocus>
                {% else %}
                  <input class="quantity_input" id="other_qty_input_{{availability.pk}}" type="text" name="" value="" pattern="[1-9]{1}[0-9]?" autofocus>
                {% endif %}
              </div>

            <input class="btn btn-info btn-xs quantity_input_button" type="submit" value="add">
          </form>
        </div>
        {% endfor %}
      </div>

    {% else %}
    <div id="no_stock">
      <p>Sorry, there's nothing available in this section.</p>
      <p>Keep shopping at <a href="{% url 'grocerystore:store' zipcode store_id %}">{{ store }}</a>.</p>
    </div>
    {% endif %}

  </div> <!-- end of main content -->

{% endblock %}
