{% extends 'grocerystore/base.html' %}

<head>
    {% block head %}
      <h1>Welcome to the Inflaskart login page</h1>
      {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% endblock %}
</head>
<body>
  {% block body %}
    {% if not_loggedin %}
      {{ not_loggedin }}
      <a href="/grocerystore/login/">{{ 'login' }}</a>
    {% endif %}

    <form class="form-horizontal" role="form" action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" />
    </form>
  {% endblock %}
</body>
