<!DOCTYPE html>

<html lang="en">

  <head>
      <title>Inflaskart | Login</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <!-- jQuery library -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
      <!-- Latest compiled JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

      {% load static from staticfiles %}
      <link rel="stylesheet" type="text/css" href="{% static 'grocerystore/style.css' %}" />
  </head>


  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"> <!-- beginning of nav bar -->
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'grocerystore:index' %}"><img src="{% static 'grocerystore/logo.png' %}" alt="Inflaskart logo" height="31"></a>
        </div>
        {% if request.user.is_authenticated %}
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span><span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'grocerystore:profile' %}">Your profile</a></li>
                  <li><a href="{% url 'grocerystore:logout' %}"><span class="glyphicon glyphicon-off"></span> Log out</a></li>
                </ul>
              </li>
            </ul>
          </div>
        {% endif %}
      </div>
    </nav> <!-- end of nav bar -->


    <div class="page-header">
      <h4>Login page</h4>
      <div class="register-link">
        <p>Don't have an account?</p>
        <form action="" method="post">
          {% csrf_token %}
          <input name="signup" class="btn btn-info btn-xs" type="submit" value="Sign up!"/>
        </form>
      </div>
    </div>


    <div class="container"> <!-- beginning of main content -->

      {% if messages %}
        {% for message in messages %}
          {% if message.tags == 'error' %}
            <div class="alert alert-danger" role="alert">{{ message }}</div>
          {% else %}
            <div class="alert alert-{{message.tags}}" role="alert">{{ message }}</div>
          {% endif %}
        {% endfor %}
      {% endif %}

      <div class="login_block">
        <form id="login_form" class="form-horizontal" role="form" action="" method="post">
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ request.get_full_path }}" />
          <table id="login_table">
            {% for field in login_form %}
              <tr><td class="field_label">{{ field.label }}</td>
              <td class="input_field">{{ field }}</td></tr>
            {% endfor %}
          </table>
          <input class="btn btn-info btn-xs submit" type="submit" value="Log in" />
        </form>
      </div>
      <div style="margin: 25px auto;width:37vh;text-align:left">
        <p style="font-size:1.7vh;margin: 0px;">You can use the following shared demo account:</i></p>
        <p style="font-size:1.7vh;margin: 0px;">username = 'eugenie'</p>
        <p style="font-size:1.7vh;margin: 0px;">password='demoaccount'</p>
      </div>

    </div> <!-- end of main content -->

    <footer class="footer"> <!-- beginning of footer -->
      <div id="footer_links">
        <a target="_blank" href="https://www.github.com/eugenielm/">Github</a>
        |
        <a target="_blank" href="https://www.linkedin.com/in/eugenie-le-moulec/">LinkedIn</a>
        |
        <a href="{% static 'grocerystore/LE_MOULEC_Eugenie-RESUME.pdf' %}" download="LE_MOULEC_eugenie_resume.pdf">Resume</a>
        |
        <p id="footer_contact">Contact: eugenie.le.moulec@gmail.com</p>
      </div>
    </footer> <!-- end of footer -->

  </body>

</html>
