{% extends 'grocerystore/base.html' %}

    {% block head %}
        <title>Inflaskart | Login</title>
    {% endblock %}

<body>
  {% block body %}

    <header>
        <h1>Welcome to the Inflaskart login page</h1>
    </header>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
          {{ message }}
        {% endfor %}
    </ul>
    {% endif %}


    <form id="login_form" class="form-horizontal" role="form" action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.get_full_path }}" />
        {{ login_form.as_p }}
        <input type="submit" value="Submit" />
    </form>

    <a href="{% url 'grocerystore:index' %}">Choose an area to shop</a><br>
    <a href="{% url 'grocerystore:register' %}">Create an account</a><br>

  {% endblock %}
</body>
