<!DOCTYPE html>

<html lang="en">

  <head>
      <meta charset="UTF-8">
      <title>Inflaskart | Login</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <!-- jQuery library -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
      <!-- Latest compiled JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

      {% load static from staticfiles %}
      <link rel="stylesheet" type="text/css" href="{% static 'grocerystore/style.css' %}" />
  </head>


  <body>


    <nav class="navbar navbar-inverse"> <!-- beginning of nav bar -->
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'grocerystore:index' %}">Inflaskart</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            {% if request.user.is_authenticated %}
              <li><a href="{% url 'grocerystore:logout' %}"><span class="glyphicon glyphicon-user"></span>Log out</a></li>
            {% else %}
              <li><a href="{% url 'grocerystore:register' %}"><span class="glyphicon glyphicon-user"></span>Sign up</a></li>
            {% endif %}
          </ul>
        </div>
    </nav> <!-- end of nav bar -->


    <div class="page-header">
      <h4>Welcome to the Inflaskart login page</h4>
    </div>


    <div class="container"> <!-- beginning of main content -->
      </br>
      <!-- <form id="login_form" class="form-horizontal" role="form" action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.get_full_path }}" />
        {{ login_form.as_p }}
        </br>
        <input class="btn btn-success btn-xs" type="submit" value="Submit" />
      </form> -->

      <form id="login_form" class="form-horizontal" role="form" action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.get_full_path }}" />
        <table id="login_table">
          {% for field in login_form %}
            <tr><td class="field_label">{{ field.label }}: </td>
            <td>{{ field }}</td></tr>
          {% endfor %}
        </table>
        </br>
        <input class="btn btn-success btn-xs" type="submit" value="Submit" />
      </form>

    </div> <!-- end of main content -->

    <footer class="footer navbar-fixed-bottom"> <!-- beginning of footer -->
      {% if messages %}
      <div class="messages">
        <ul>
          {% for message in messages %}
            <div class="message"><li class="{{ message.tags }}">{{ message }}</li></div>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      <div class="container">
        <span class="text-muted">Contact: cowboy.de.tchernobyl@gmail.com</span>
      </div>
    </footer> <!-- end of footer -->

  </body>

</html>
