{% extends 'grocerystore/base_with_search.html' %}
{% load static from staticfiles %}

{% block content %}

  <div class="page-header">
    <h4>Your orders</h4> <h6>at <a href="{% url 'grocerystore:store' zipcode store.pk %}">{{ store }}</a></h6>
  </div>


  <div class="container"> <!-- beginning of main content -->

    {% if messages %}
      {% for message in messages %}
        {% if message.tags == 'error' %}
          <div class="alert alert-danger" role="alert">{{ message }}</div>
        {% elif message.tags == 'info' %}
          <div class="alert alert-info" role="alert">Keep shopping at <a href="{% url 'grocerystore:store' zipcode store_id %}">{{ message }}</a></div>
        {% else %}
          <div class="alert alert-{{message.tags}}" role="alert">{{ message }}</div>
        {% endif %}
      {% endfor %}
    {% endif %}

    {% if user_orders %}
    <div class="panel-group orders" id="accordion">
      {% for order in user_orders %}
      <div class="panel panel-default single-order">
        <div class="panel-heading">
          <h4 class="panel-title">
            {% if last_active_order and last_active_order == order.pk %}
              <a class="accordion-toggle btn-block collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ order.pk }}" aria-expanded="true">
            {% else %}
              <a class="accordion-toggle btn-block collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ order.pk }}" aria-expanded="false">
            {% endif %}
              Order #{{ order.data.order_nb }} placed on {{ order.data.purchase_date.1 }}/{{ order.data.purchase_date.2 }},
              {{ order.data.purchase_date.0 }}</a>
          </h4>
        </div>
        {% if last_active_order and last_active_order == order.pk %}
          <div id="collapse{{ order.pk }}" class="panel-collapse collapse in" aria-expanded="true">
        {% else %}
          <div id="collapse{{ order.pk }}" class="panel-collapse collapse" aria-expanded="false">
        {% endif %}
          <ul class="list-group">
            {% for item in order.data.items %}
            <li class="list-group-item row vertical-align">
              <div class="col-xs-2 col-sm-1"> <!-- product picture -->
                <a href="{% url 'grocerystore:detail' zipcode store_id item.product_pk %}">
                {% if item.product_pic %}
                  <img src="{{item.product_pic.url}}" alt="{{item.product_name}}" />
                {% else %}
                  <img src="{% static 'grocerystore/no_pic_available.jpg' %}" alt="{{item.product_name}}"/>
                {% endif %}
              </div>
              <div class="col-xs-6 col-sm-8"> <!-- product name & quantity -->
                {{ item.product_name }}</a> | <b>{{ item.product_qty }} x ${{ item.unit_price }} / {{ item.product_unit }}</b> = ${{ item.total_item_price }}
              </div>
              <div class="col-xs-4 col-sm-3"> <!-- add in cart button -->
                <form class="qty_selection float_right" action="" method="post">
                  {% csrf_token %}
                  {% if item.availability == 'not_available' %}
                    <span id="not_available_anymore">Not available </span>
                  {% else %}
                    <select id="input_{{order.pk}}_{{item.availability_pk}}" name="{{order.pk}}_{{item.availability_pk}}" onchange="if (value == 'other') {
                      document.getElementById('input_{{order.pk}}_{{item.availability_pk}}').style.display = 'none';
                      document.getElementById('other_qty_{{order.pk}}_{{item.availability_pk}}').style.display = 'inline-block';
                      document.getElementById('input_{{order.pk}}_{{item.availability_pk}}').setAttribute('name', '');
                      document.getElementById('other_qty_input_{{order.pk}}_{{item.availability_pk}}').setAttribute('name', '{{order.pk}}_{{item.availability_pk}}');}">
                      <option disabled selected value> --- </option>
                      {% for quantity in quantity_set %}
                        <option value="{{quantity}}">{{ quantity }}</option>
                      {% endfor %}
                    </select>

                    <div id="other_qty_{{order.pk}}_{{item.availability_pk}}" style="display:none;">
                      {% if item.product_unit == "lb" and item.availability.product.product_category.parent.top_category|lower == "produce" %}
                        <input class="quantity_input" id="other_qty_input_{{order.pk}}_{{item.availability_pk}}" type="text" name="" value="" pattern="[0-9]{1,2}([.,]{1}[0-9]{1})?" autofocus>
                      {% elif item.product_unit == "lb" and "counter" in item.availability.product.product_category.sub_category_name|lower %}
                        <input class="quantity_input" id="other_qty_input_{{order.pk}}_{{item.availability_pk}}" type="text" name="" value="" pattern="[0-9]{1,2}([.,]{1}[0-9]{1})?" autofocus>
                      {% else %}
                        <input class="quantity_input" id="other_qty_input_{{order.pk}}_{{item.availability_pk}}" type="text" name="" value="" pattern="[1-9]{1}[0-9]?" autofocus>
                      {% endif %}
                    </div>
                    <input class="btn btn-info btn-xs quantity_input_button" type="submit" value="add">
                  {% endif %}

                </form>
              </div>
            </li>
            {% endfor %}
          </ul>
          <div class="panel-footer">
            <div class="add_everything">
              <form action="" method="post">
                {% csrf_token %}
                <input class="btn btn-success btn-sm" name="everything {{ order.pk }}" type="submit" value="Place the same order" />
                <p id="if_different_prices">* Prices may have changed *</p>
              </form>
              <p id="order_total">Order total was: <b>${{ order.data.order_total }}</b></p>
              <p id="keep_shopping">Keep shopping at <a href="{% url 'grocerystore:store' zipcode store_id %}">{{ store.store_name }}</a></p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    {% else %}
    <div id="no_orders">
      <p>You never placed any order in this store.</p>
      <p>Keep shopping at <a href="{% url 'grocerystore:store' zipcode store_id %}">{{ store.store_name }}</a></p>
    </div>
    {% endif %}

  </div> <!-- end of main content -->

{% endblock %}
