<!DOCTYPE html>

<html lang="en">

  <head>
    <title>Inflaskart | {{store.store_name}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% load static from staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'grocerystore/style.css' %}" />
  </head>


  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"> <!-- beginning of nav bar -->
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'grocerystore:index' %}"><img src="{% static 'grocerystore/logo.png' %}" alt="Inflaskart logo" height="31"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            {% if available_stores %}
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Shop in {{zipcode}}<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  {% for store in available_stores %}
                    <li><a href="{% url 'grocerystore:store' zipcode store.pk %}">{{ store }}</a></li>
                  {% endfor %}
                  <li><a href="{% url 'grocerystore:index' %}"><i>> shop elsewhere</i></a></li>
                </ul>
              </li>
            {% endif %}
            <li><a href="{% url 'grocerystore:cart' zipcode %}"><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
          </ul>

          <form class="nav navbar-nav navbar-form" role="search" action="" method="post">
            {% csrf_token %}
              <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search" name="search">
                  <div class="input-group-btn">
                      <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                  </div>
              </div>
          </form>

          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span><span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% if request.user.is_authenticated %}
                  <li><a href="{% url 'grocerystore:profile' %}">Your profile</a></li>
                  <li><a href="{% url 'grocerystore:orders' zipcode store.pk %}">Your orders in this store</a></li>
                  <li><a href="{% url 'grocerystore:logout' %}"><span class="glyphicon glyphicon-off"></span> Log out</a></li>
                {% else %}
                  <li><a href="{% url 'grocerystore:login' %}">Login</a></li>
                  <li><a href="{% url 'grocerystore:register' %}">Sign up</a></li>
                {% endif %}
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav> <!-- end of nav bar -->


    <div class="page-header">
      <h4>Your orders</h4> <h6>at <a href="{% url 'grocerystore:store' zipcode store.pk %}">{{ store }}</a></h6>
    </div>


    <div class="container"> <!-- beginning of main content -->

      {% if messages %}
        {% for message in messages %}
          {% if message.tags == 'error' %}
            <div class="alert alert-danger" role="alert">{{ message }}</div>
          {% elif message.tags == 'info' %}
            <div class="alert alert-info" role="alert">Keep shopping at <a href="{% url 'grocerystore:store' zipcode store_id %}">{{ message }}</a></div>
          {% else %}
            <div class="alert alert-{{message.tags}}" role="alert">{{ message }}</div>
          {% endif %}
        {% endfor %}
      {% endif %}

      {% if user_orders %}
      <div class="panel-group orders" id="accordion">
        {% for order in user_orders %}
        <div class="panel panel-default single-order">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle btn-block collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ order.data.order_nb }}" aria-expanded="false">
                Order #{{ order.data.order_nb }} placed on {{ order.data.purchase_date.1 }}/{{ order.data.purchase_date.2 }},
                {{ order.data.purchase_date.0 }}</a>
            </h4>
          </div>
          <div id="collapse{{ order.data.order_nb }}" class="panel-collapse collapse" aria-expanded="false">
            <ul class="list-group">
              {% for item in order.data.items %}
              <li class="list-group-item">
                <form class="qty_update" action="" method="post">
                  {% csrf_token %}
                  <select name="{{item.availability_pk}}">
                    {% for quantity in quantity_set %}
                      <option value="{{quantity}}" {% if quantity == item.product_qty %} selected="selected" {% endif %}>{{ quantity }}</option>
                    {% endfor %}
                  </select>
                  <input class="btn btn-info btn-xs update_qty" type="submit" value="add" />
                </form>
                <a href="{% url 'grocerystore:detail' zipcode store_id item.product_pk %}">
                {% if item.product_pic %}
                  <img src="{{item.product_pic.url}}" alt="{{item.product_name}}" />
                {% else %}
                  <img src="{% static 'grocerystore/no_pic_available.jpg' %}" alt="{{item.product_name}}"/>
                {% endif %}
                {{ item.product_qty }} x {{ item.product_name }}</a> (${{ item.unit_price }} / {{ item.product_unit }}): <b>${{ item.total_item_price }}</b>
              </li>
              {% endfor %}
            </ul>
            <div class="panel-footer">
              <div class="add_everything">
                <form action="" method="post">
                  {% csrf_token %}
                  <input class="btn btn-success btn-sm" name="everything {{ order.pk }}" type="submit" value="Place the same order in cart" />
                </form>
                <p id="order_total">Order total was <b>${{ order.data.order_total }}</b></p>
                <p>Keep shopping at <a href="{% url 'grocerystore:store' zipcode store_id %}"><i>{{ store }}</i></a></p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      {% else %}
      <div id="no_orders">
        <p>You never placed any order in this store.</p>
        <p>Keep shopping at <a href="{% url 'grocerystore:store' zipcode store_id %}" style="text-decoration: underline">{{ store }}</a></p>
      </div>
      {% endif %}

    </div> <!-- end of main content -->


    <footer class="footer"> <!-- beginning of footer -->
      <div id="footer_links">
        <a target="_blank" href="https://www.github.com/eugenielm/">Github</a>
        |
        <a target="_blank" href="https://www.linkedin.com/in/eugenie-le-moulec/">LinkedIn</a>
        |
        <a href="{% static 'grocerystore/LE_MOULEC_Eugenie-RESUME.pdf' %}" download="LE_MOULEC_eugenie_resume.pdf">Resume</a>
        |
        <p id="footer_contact">Contact: eugenie.le.moulec@gmail.com</p>
      </div>
    </footer> <!-- end of footer -->


  </body>

</html>
