{% extends 'grocerystore/base_without_search.html' %}
{% load static from staticfiles %}

{% block content %}

    <div class="page-header">
      <h4>Your contact information</h4><a href="{% url 'grocerystore:profile_update' %}" id="edit_pencil"><span class="glyphicon glyphicon-pencil"></span></a>
    </div>


    <div class="container"> <!-- beginning of main content -->

      {% if messages %}
        {% for message in messages %}
          {% if message.tags == 'error' %}
            <div class="alert alert-danger" role="alert">{{ message }}</div>
          {% else %}
            <div class="alert alert-{{message.tags}}" role="alert">{{ message }}</div>
          {% endif %}
        {% endfor %}
      {% endif %}

      <div class="user_profile">
        <table>
          <tr>
            <td class="field_label">Username</td>
            <td class="saved-field">{{ request.user.username }}</td>
          </tr>
          <tr>
            <td class="field_label">Email</td>
            <td class="saved-field">{{ user.email }}</td>
          </tr>
          <tr>
            <td class="field_label">First name</td>
            <td class="saved-field">{{ user.first_name }}</td>
          </tr>
          <tr>
            <td class="field_label">Last name</td>
            <td class="saved-field">{{ user.last_name }}</td>
          </tr>
          <tr>
            <td class="field_label">Address</td>
            <td class="saved-field">{{ user_address.street_address1 }}</td>
          </tr>
          <tr>
            <td class="field_label">Address (line 2)</td>
            <td class="saved-field">{{ user_address.street_address2 }}</td>
          </tr>
          <tr>
            <td class="field_label">Apt/Unit</td>
            <td class="saved-field">{{ user_address.apt_nb }}</td>
          </tr>
          <tr>
            <td class="field_label">Floor, building, etc.</td>
            <td class="saved-field">{{ user_address.other }}</td>
          </tr>
          <tr>
            <td class="field_label">City</td>
            <td class="saved-field">{{ user_address.city }}</td>
          </tr>
          <tr>
            <td class="field_label">Zip code</td>
            <td class="saved-field">{{ user_address.zip_code }}</td>
          </tr>
          <tr>
            <td class="field_label">State</td>
            <td class="saved-field">{{ user_address.state }}</td>
          </tr>
        </table>

      </div>

    </div> <!-- end of main content -->

{% endblock %}
