{% extends 'grocerystore/base_without_search.html' %}
{% load static from staticfiles %}

{% block content %}

    <div class="page-header">
      <h4>Edit your contact information</h4>
    </div>


    <div class="container"> <!-- beginning of main content -->

      {% if messages %}
        {% for message in messages %}
          {% if message.tags == 'error' %}
            <div class="alert alert-danger" role="alert">{{ message }}</div>
          {% else %}
            <div class="alert alert-{{message.tags}}" role="alert">{{ message }}</div>
          {% endif %}
        {% endfor %}
      {% endif %}

      <div class="user_profile update">
        <form id="profile_form" role="form" action="" method="post">
          {% csrf_token %}
          <table class="user_table">
            <tr>
              <td class="field_label">Username</td>
              <td class="update-field">{{ request.user.username }}</td>
            </tr>
            <tr>
              <td class="field_label">Email</td>
              <td class="update-field"><input type="email" name="email" id="email" value="{{ request.user.email }}"></td>
            </tr>
            <tr>
              <td class="field_label">First name</td>
              <td class="update-field"><input type="text" name="first_name" id="first_name" pattern="[^0-9_@=+;:,()!?%£$*€\\./]+" maxlength="30" value="{{ request.user.first_name }}"></td>
            </tr>
            <tr>
              <td class="field_label">Last name</td>
              <td class="update-field"><input type="text" name="last_name" id="last_name" pattern="[^0-9_@=+;:,()!?%£$*€\\./]+" maxlength="30" value="{{ request.user.last_name }}"></td>
            </tr>
          </table>

          <table class="address_table">
            {% for field in address_form %}
              <tr><td class="field_label">{{ field.label }}</td>
              <td class="update-field">{{ field }}</td></tr>
            {% endfor %}
          </table>
          <input class="btn btn-info btn-md submit" type="submit" value="Submit" />
        </form>

      </div>

    </div> <!-- end of main content -->

{% endblock %}
