<!DOCTYPE html>

<html lang="en">

  <head>
    <title>Inflaskart | Profile</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% load static from staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'grocerystore/style.css' %}" />
  </head>


  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"> <!-- beginning of nav bar -->
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'grocerystore:index' %}"><img src="{% static 'grocerystore/logo.png' %}" alt="Inflaskart logo" height="31"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            {% if available_stores %}
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Stores in {{zipcode}} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  {% for store in available_stores %}
                    <li><a href="{% url 'grocerystore:store' zipcode store.pk %}">{{ store }}</a></li>
                  {% endfor %}
                  <li><a href="{% url 'grocerystore:index' %}"><i>> stores elsewhere</i></a></li>
                </ul>
              </li>
            {% endif %}
            <li><a href="{% url 'grocerystore:cart' zipcode %}"><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span><span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% if request.user.is_authenticated %}
                  <li><a href="{% url 'grocerystore:logout' %}"><span class="glyphicon glyphicon-off"></span> Log out</a></li>
                {% else %}
                  <li><a href="{% url 'grocerystore:login' %}">Login</a></li>
                  <li><a href="{% url 'grocerystore:register' %}">Sign up</a></li>
                {% endif %}
              </ul>
            </li>
          </ul>

        </div>
      </div>
    </nav> <!-- end of nav bar -->


    <div class="page-header">
      <h4>Your contact information</h4><a href="{% url 'grocerystore:profile_update' %}" id="edit_pencil"><span class="glyphicon glyphicon-pencil"></span></a>
    </div>


    <div class="container"> <!-- beginning of main content -->

      {% if messages %}
        {% for message in messages %}
          {% if message.tags == 'error' %}
            <div class="alert alert-danger" role="alert">{{ message }}</div>
          {% else %}
            <div class="alert alert-{{message.tags}}" role="alert">{{ message }}</div>
          {% endif %}
        {% endfor %}
      {% endif %}

      <div class="user_profile">
        <table>
          <tr>
            <td class="field_label">Username</td>
            <td class="saved-field">{{ request.user.username }}</td>
          </tr>
          <tr>
            <td class="field_label">Email</td>
            <td class="saved-field">{{ user.email }}</td>
          </tr>
          <tr>
            <td class="field_label">First name</td>
            <td class="saved-field">{{ user.first_name }}</td>
          </tr>
          <tr>
            <td class="field_label">Last name</td>
            <td class="saved-field">{{ user.last_name }}</td>
          </tr>
          <tr>
            <td class="field_label">Address</td>
            <td class="saved-field">{{ user_address.street_address1 }}</td>
          </tr>
          <tr>
            <td class="field_label">Address (line 2)</td>
            <td class="saved-field">{{ user_address.street_address2 }}</td>
          </tr>
          <tr>
            <td class="field_label">Apt/Unit</td>
            <td class="saved-field">{{ user_address.apt_nb }}</td>
          </tr>
          <tr>
            <td class="field_label">Floor, building, etc.</td>
            <td class="saved-field">{{ user_address.other }}</td>
          </tr>
          <tr>
            <td class="field_label">City</td>
            <td class="saved-field">{{ user_address.city }}</td>
          </tr>
          <tr>
            <td class="field_label">Zip code</td>
            <td class="saved-field">{{ user_address.zip_code }}</td>
          </tr>
          <tr>
            <td class="field_label">State</td>
            <td class="saved-field">{{ user_address.state }}</td>
          </tr>
        </table>

      </div>

    </div> <!-- end of main content -->


    <footer class="footer"> <!-- beginning of footer -->
      <div id="footer_links">
        <a target="_blank" href="https://www.github.com/eugenielm/">Github</a>
        |
        <a target="_blank" href="https://www.linkedin.com/in/eugenie-le-moulec/">LinkedIn</a>
        |
        <a href="{% static 'grocerystore/LE_MOULEC_Eugenie-RESUME.pdf' %}" download="LE_MOULEC_eugenie_resume.pdf">Resume</a>
        |
        <p id="footer_contact"><span class="glyphicon glyphicon-envelope"></span> eugenie.le.moulec@gmail.com</p>
      </div>
    </footer> <!-- end of footer -->


  </body>

</html>
