<!DOCTYPE html>

<html lang="en">

  <head>
      <meta charset="UTF-8">
      <title>Inflaskart | Edit profile</title>
      {% load static %}
      <link rel="stylesheet" type="text/css" href="{% static 'grocerystore/style.css' %}" />
  </head>


  <body>

    <header>

      <nav class="horiz-top-nav">

          <div class="dropdown">
            <button class="dropbutton">Let's shop</button>
            <div class="dropdown-content">
              {% if available_stores %}
                {% for store in available_stores %}
                <p>---Stores in {{zipcode}}---</p>
                <a href="{% url 'grocerystore:store' zipcode store.pk %}">{{ store }}</a>
                {% endfor %}
              {% endif %}
            </div>
          </div>

        <div class="dropdown">
          <button class="dropbutton"><a href="{% url 'grocerystore:logout' %}">Logout</a></button>
        </div>

        <div class="dropdown">
          <button class="dropbutton"><a href="{% url 'grocerystore:cart' zipcode %}">Your cart</a></button>
        </div>

      </nav>

    </header>

    <main>

      <h3>Your information</h3>

      <p class="field"><span style="font-weight: bold; font-style: oblique">Username: {{ request.user.username }}</span></p>
      <form id="profile_form" role="form" action="" method="post">
          {% csrf_token %}
          <div class="field">
            <label for='first_name'>First name: </label>
            <input type="text" name="first_name" id="first_name" pattern="[^0-9_@=+;:,()!?%£$*€\\./]+" maxlength="20" value="{{ request.user.first_name }}">
          </div>
          <div class="field">
            <label for='last_name'>Last name: </label>
            <input type="text" name="last_name" id="last_name" pattern="[^0-9_@=+;:,()!?%£$*€\\./]+" maxlength="20" value="{{ request.user.last_name }}">
          </div>
          <div class="field">
            {{ address_form.as_p }}
          </div>
          <input type="submit" value="Update profile" class="submit" />
      </form>

      <div id="messages">
        {% if messages %}
          <div id="messages-content">
            <ul>
              {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      </div>

    </main>

    <footer>
      <p id="footer">Contact: cowboy.de.tchernobyl@gmail.com</p>
    </footer>

  </body>

</html>
