<!DOCTYPE html>

<html lang="en">

  <head>
    <title>Inflaskart | Edit profile</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% load static from staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'grocerystore/style.css' %}" />
  </head>


  <body>

    <div class="nav-container">
      <nav class="navbar navbar-inverse"> <!-- beginning of nav bar -->
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'grocerystore:index' %}"><span class="glyphicon glyphicon-home"></span></a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Stores<span class="caret"></span></a>
                  {% if available_stores %}
                    <ul class="dropdown-menu">
                      {% for store in available_stores %}
                        <li><a href="{% url 'grocerystore:store' zipcode store.pk %}">{{ store }}</a></li>
                      {% endfor %}
                    </ul>
                  {% endif %}
              </li>
              <li><a href="{% url 'grocerystore:cart' zipcode %}"><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span></a>
                <ul class="dropdown-menu">
                  {% if request.user.is_authenticated %}
                    <li><a href="{% url 'grocerystore:profile' %}">Your profile</a></li>
                    <li><a href="{% url 'grocerystore:logout' %}"><span class="glyphicon glyphicon-off"></span> Log out</a></li>
                  {% else %}
                    <li><a href="{% url 'grocerystore:login' %}">Login</a></li>
                    <li><a href="{% url 'grocerystore:register' %}">Sign up</a></li>
                  {% endif %}
                </ul>
              </li>
            </ul>

          </div>
        </div>
      </nav> <!-- end of nav bar -->
    </div>


    <div class="page-header">
      <h4>Edit your contact information</h4>
    </div>


    <div class="container"> <!-- beginning of main content -->

      {% if errors %}
        <div class="errorlist">
          {% for er in errors %}
            <p>Please enter a valid {{ er }}. </p>
          {% endfor %}
        </div>
      {% endif %}

      {% if messages %}
        <div class="messages">
          <ul>
            {% for message in messages %}
              <div class="message"><li class="{{ message.tags }}">{{ message }}</li></div>
            {% endfor %}
          </ul>
        </div>
      {% endif %}

      <div class="user_profile update">
        <form id="profile_form" role="form" action="" method="post">
          {% csrf_token %}
          <table class="user_table">
            <tr>
              <td class="field_label">Username</td>
              <td class="update-field">{{ request.user.username }}</td>
            </tr>
            <tr>
              <td class="field_label">Email</td>
              <td class="update-field"><input type="email" name="email" id="email" value="{{ request.user.email }}"></td>
            </tr>
            <tr>
              <td class="field_label">First name</td>
              <td class="update-field"><input type="text" name="first_name" id="first_name" pattern="[^0-9_@=+;:,()!?%£$*€\\./]+" maxlength="30" value="{{ request.user.first_name }}"></td>
            </tr>
            <tr>
              <td class="field_label">Last name</td>
              <td class="update-field"><input type="text" name="last_name" id="last_name" pattern="[^0-9_@=+;:,()!?%£$*€\\./]+" maxlength="30" value="{{ request.user.last_name }}"></td>
            </tr>
          </table>

          <table class="address_table">
            {% for field in address_form %}
              <tr><td class="field_label">{{ field.label }}</td>
              <td class="update-field">{{ field }}</td></tr>
            {% endfor %}
          </table>
          <input class="btn btn-info btn-xs submit" type="submit" value="Update profile" />
        </form>

      </div>

    </div> <!-- end of main content -->


    <footer class="footer navbar-fixed-bottom"> <!-- beginning of footer -->
      <span class="text-muted">Contact: cowboy.de.tchernobyl@gmail.com</span>
    </footer> <!-- end of footer -->


  </body>

</html>
