{% extends 'grocerystore/base.html' %}

<head>
    {% block head %}

      {% if no_account %}
        {{ no_account }}
        <a href="/grocerystore/register/">{{ 'Register' }}</a>
      {% else %}
        <h1>Welcome to the Inflaskart registration page</h1>
      {% endif %}

    {% endblock %}
</head>

<body>
  {% block body %}

    <form class="form-horizontal" role="form" action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {% if form %}
          <input type="submit" value="Submit" />
        {% endif %}
    </form>

  {% endblock %}
</body>
