<!DOCTYPE html>

<html lang="en">

  <head>
      <title>Inflaskart | Registration</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <!-- jQuery library -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
      <!-- Latest compiled JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

      {% load static from staticfiles %}
      <link rel="stylesheet" type="text/css" href="{% static 'grocerystore/style.css' %}" />
  </head>


  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"> <!-- beginning of nav bar -->
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'grocerystore:index' %}"><img src="{% static 'grocerystore/logo.png' %}" alt="Inflaskart logo" height="31"></a>
        </div>
      </div>
    </nav> <!-- end of nav bar -->


    <div class="page-header">
      <h4>Sign up here!</h4>
      <div class="login-link">
        <p>Already have an account?</p>
        <form action="" method="post">
          {% csrf_token %}
          <input name="login" class="btn btn-info btn-xs" type="submit" value="Login"/>
        </form>
      </div>
    </div>


    <div class="container"> <!-- beginning of main content -->

      {% if messages %}
        {% for message in messages %}
          {% if message.tags == 'error' %}
            <div class="alert alert-danger" role="alert">{{ message }}</div>
          {% else %}
            <div class="alert alert-{{message.tags}}" role="alert">{{ message }}</div>
          {% endif %}
        {% endfor %}
      {% endif %}

        <div class="errorlist">
          {% if unavailable_username %}
            <p>the username '{{ unavailable_username }}' is already used</p>
          {% endif %}
          {% if errors %}
            {% for er in errors %}
              <p>Please enter a valid {{ er }}</p>
            {% endfor %}
          {% endif %}
        </div>

      <div class="register-block">
        <form id="registration_form" role="form" action="" method="post">
          {% csrf_token %}

          <table class="user_table">
            {% for field in user_form %}
              <tr><td class="field_label">{{ field.label }}</td>
              <td class="input_field">{{ field }}</td></tr>
            {% endfor %}
          </table>

          <table class="address_table">
            {% for field in address_form %}
              <tr><td class="field_label">{{ field.label }}</td>
              <td class="input_field">{{ field }}</td></tr>
            {% endfor %}
          </table>

          <input class="btn btn-info btn-xs submit" type="submit" value="Submit" />

        </form>
      </div>

    </div> <!-- end of main content -->


    <footer class="footer"> <!-- beginning of footer -->
      <div id="footer_links">
        <a target="_blank" href="https://www.github.com/eugenielm/">Github</a>
        |
        <a target="_blank" href="https://www.linkedin.com/in/eugenie-le-moulec/">LinkedIn</a>
        |
        <a href="{% static 'grocerystore/LE_MOULEC_Eugenie-RESUME.pdf' %}" download="LE_MOULEC_eugenie_resume.pdf">Resume</a>
        |
        <p id="footer_contact">Contact: eugenie.le.moulec@gmail.com</p>
      </div>
    </footer> <!-- end of footer -->


  </body>

</html>
