{% extends 'grocerystore/base.html' %}

<head>
    {% block head %}
        <h1>Welcome to the Inflaskart registration page</h1>
    {% endblock %}
</head>

<body>
  {% block body %}

      {% if messages %}
        <ul class="messages">
            {% for message in messages %}
              {{ message }}
            {% endfor %}
        </ul>
      {% endif %}

    <form class="form-horizontal" role="form" action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {% if form %}
          <input type="submit" value="Submit" />
        {% endif %}
    </form>

    <a href="{% url 'grocerystore:index' %}">{{ 'Inflaskart index page' }}</a><br>

  {% endblock %}
</body>
