<!DOCTYPE html>

<html lang="en">

  <head>
      <meta charset="UTF-8">
      <title>Inflaskart | Registration</title>
      {% load static %}
      <link rel="stylesheet" type="text/css" href="{% static 'grocerystore/style.css' %}" />
  </head>


  <body>

    <header>

      <nav class="horiz-top-nav">

        <div class="dropdown">
          <button class="dropbutton"><a href="{% url 'grocerystore:index' %}">Choose an area to shop</a></button>
        </div>

        <div class="dropdown">
          <button class="dropbutton"><a href="{% url 'grocerystore:login' %}">Login</a></button>
        </div>

      </nav>

    </header>

    <main>

      <h3>Welcome to the Inflaskart registration page</h3>

      <form id="registration_form" role="form" action="" method="post">
          {% csrf_token %}
          {{ user_form.as_p }}
          {{ address_form.as_p }}
          <input class="submit" type="submit" value="Submit" />
      </form>

      <div id="messages">
        {% if messages %}
          <div id="messages-content">
            <ul>
              {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      </div>

    </main>

    <footer>
      <p id="footer">Contact: cowboy.de.tchernobyl@gmail.com</p>
    </footer>

  </body>

</html>
