{% extends 'grocerystore/base_with_search.html' %}
{% load static from staticfiles %}

{% block content %}

  <div class="page-header">
    <h4>Looking for '{{ searched_item }}'</h4> <h6>at <a href="{% url 'grocerystore:store' zipcode store.pk %}">{{ store }}</a></h6>
  </div>


  <div class="container"> <!-- beginning of main content -->

    {% if messages %}
      {% for message in messages %}
        {% if message.tags == 'error' %}
          <div class="alert alert-danger" role="alert">{{ message }}</div>
        {% else %}
          <div class="alert alert-{{message.tags}}" role="alert">{{ message }}</div>
        {% endif %}
      {% endfor %}
    {% endif %}

    <div id="search_result">
      {% if available_products %}
        {% for product in available_products %} <!-- product.0 is an availability instance -->
          <div class="search_product">
            <a href="{% url 'grocerystore:detail' zipcode store_id product.3 %}">
              <div class="product_button">
                <div class="product_button_content"> <!-- div needed to center vertically -->
                  {% if product.0.product.product_pic %}
                    <img src="{{ product.0.product.product_pic.url }}" alt="{{availability.product.product_name}}"/>
                  {% else %}
                    <img src="{% static 'grocerystore/no_pic_available.jpg' %}" alt="{{availability.product.product_name}}"/>
                  {% endif %}
                  <p>{{ product.0.product }}</p>
                  <p><b>${{ product.1 }} / {{ product.2 }}</b></a></p>
                </div>
              </div></a>

            <form class="qty_selection" action="" method="post">
              {% csrf_token %}
              <select id="input_{{product.0.pk}}" name="{{product.0.pk}}" onchange="if (value == 'other') {
                document.getElementById('input_{{product.0.pk}}').style.display = 'none';
                document.getElementById('other_qty_{{product.0.pk}}').style.display = 'inline-block';
                document.getElementById('input_{{product.0.pk}}').setAttribute('name', '');
                document.getElementById('other_qty_input_{{product.0.pk}}').setAttribute('name', '{{product.0.pk}}');}">
                {% for quantity in quantity_set %}
                  <option value="{{quantity}}">{{ quantity }}</option>
                {% endfor %}
              </select>

              <div id="other_qty_{{product.0.pk}}" style="display:none;">
                {% if product.2 == "lb" and product.0.product.product_category.parent.top_category|lower == "produce" %}
                  <input class="quantity_input" id="other_qty_input_{{product.0.pk}}" type="text" name="" value="" pattern="[0-9]{1,2}([.,]{1}[0-9]{1})?" autofocus>
                {% elif product.2 == "lb" and "counter" in product.0.product.product_category.sub_category_name|lower %}
                  <input class="quantity_input" id="other_qty_input_{{product.0.pk}}" type="text" name="" value="" pattern="[0-9]{1,2}([.,]{1}[0-9]{1})?" autofocus>
                {% else %}
                  <input class="quantity_input" id="other_qty_input_{{product.0.pk}}" type="text" name="" value="" pattern="[1-9]{1}[0-9]?" autofocus>
                {% endif %}
              </div>
              <input class="btn btn-info btn-xs quantity_input_button" type="submit" value="ok">

            </form>
          </div>
        {% endfor %}
      {% endif %}

      {% if other_availabilities %} <!-- if there's no availability in this store but there're in other stores in the same zipcode area  -->
        <p id="other_availabilities">There's no match for '{{ searched_item }}' at {{store}}, but we found the following result(s) in (a) store(s) delivering the {{zipcode}} area:<p>

        {% for product in other_availabilities %}
          <div class="search_product">
            <form action="" method="post">
              {% csrf_token %}
              <button class="product_button" name="{{product.0.pk}}" onclick="this.form.submit();"> <!-- product.0 is an availability instance -->
                <div class="product_button_content"> <!-- div needed to center vertically -->
                  {% if product.0.product.product_pic %}
                    <p class="product-pic"><img src="{{ product.0.product.product_pic.url }}" alt="{{product.0.product.product_name}}"/></p>
                  {% else %}
                    <p class="product-pic"><img src="{% static 'grocerystore/no_pic_available.jpg' %}" alt="{{product.0.product.product_name}}"/></p>
                  {% endif %}
                  <p>{{ product.0.product }}</a></p>
                  <p><b>${{ product.1 }} @ {{ product.4 }}</b></p>
                </div>
              </button>
            </form>
          </div>
        {% endfor %}
      {% endif %}

    </div>

  </div> <!-- end of main content -->

{% endblock %}
