{% extends 'grocerystore/base_without_search.html' %}
{% load static from staticfiles %}

{% block content %}

    <div class="page-header">

      {% if available_stores %}
          <h4>Stores in {{zipcode_obj}}</h4>
      {% else %}
          <h4>Sorry, there's no store available in the ZIP code area you've chosen.</h4>
          <p>Go back to the <a href="{% url 'grocerystore:index' %}">index page</a> to shop elsewhere.</p>
      {% endif %}

    </div>


    <div class="container"> <!-- beginning of main content -->

      {% if messages %}
        {% for message in messages %}
          {% if message.tags == 'error' %}
            <div class="alert alert-danger" role="alert">{{ message }}</div>
          {% else %}
            <div class="alert alert-{{message.tags}}" role="alert">{{ message }}</div>
          {% endif %}
        {% endfor %}
      {% endif %}

      <div class="all_stores">
        <form action="" method="post">
          {% csrf_token %}
          {% for store in available_stores %}
            <div class="store_choice">
              <a href="{% url 'grocerystore:store' zipcode store.pk %}">
              <p class="store_picture">{% if store.store_pic %}<img src="{{ store.store_pic.url }}" alt="" />{% endif %}</p>
              <p class="store_name">{{ store.store_location }}</p></a>
            </div>
          {% endfor %}
        </form>
      </div>

    </div> <!-- end of main content -->

{% endblock %}
