{% extends 'grocerystore/base.html' %}

{% block head %}
    <title>Inflaskart | Shopping in {{zipcode}}</title>
{% endblock %}

<body>

  {% block body %}

    <header>
      {% if available_stores %}
        <h3>You're shopping in {{ zipcode }}, please choose a store:</h3>
      {% endif %}
      {% if no_store %}
        <h3>{{ no_store }}</h3>
      {% endif %}
    </header>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
          {{ message }}
        {% endfor %}
    </ul>
    {% endif %}
    </br>

    <form action="" method="post">
      {% csrf_token %}
      {% for store in available_stores %}
      <li><a href="{% url 'grocerystore:store' zipcode store.pk %}"> {{ store }} </a></li><br>
      {% endfor %}
    </form><br>

    {% if request.user.is_authenticated %}
      <a href="{% url 'grocerystore:logout' %}"> Logout </a>
    {% else %}
      <a href="{% url 'grocerystore:index' %}">Shop in another area</a><br>
      <a href="{% url 'grocerystore:register' %}"> Create an account </a><br>
      <a href="{% url 'grocerystore:login' %}"> Login </a>
    {% endif %}

{% endblock %}

</body>
