<!DOCTYPE html>

<html lang="en">

  <head>
    <title>Inflaskart | {{zipcode.zipcode}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% load static from staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'grocerystore/style.css' %}" />
  </head>


  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"> <!-- beginning of nav bar -->
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'grocerystore:index' %}"><img src="{% static 'grocerystore/logo.png' %}" alt="Inflaskart logo" height="31"></a>
        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Stores<span class="caret"></span></a>
                {% if available_stores %}
                  <ul class="dropdown-menu">
                    {% for store in available_stores %}
                      <li><a href="{% url 'grocerystore:store' zipcode.zipcode store.pk %}">{{ store }}</a></li>
                    {% endfor %}
                  </ul>
                {% endif %}
            </li>
            <li><a href="{% url 'grocerystore:cart' zipcode.zipcode %}"><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span><span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% if request.user.is_authenticated %}
                  <li><a href="{% url 'grocerystore:profile' %}">Your profile</a></li>
                  <li><a href="{% url 'grocerystore:logout' %}"><span class="glyphicon glyphicon-off"></span> Log out</a></li>
                {% else %}
                  <li><a href="{% url 'grocerystore:login' %}">Login</a></li>
                  <li><a href="{% url 'grocerystore:register' %}">Sign up</a></li>
                {% endif %}
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav> <!-- end of nav bar -->


    <div class="page-header">

      {% if available_stores %}
          <h4>Stores in {{zipcode}}</h4>
      {% else %}
          <h4>Sorry, there's no store available in the ZIP code area you've chosen.</h4>
          <p>Go back to the <a href="{% url 'grocerystore:index' %}">index page</a> to shop elsewhere.</p>
      {% endif %}

    </div>


    <div class="container"> <!-- beginning of main content -->

      {% if messages %}
        <div class="messages">
          <ul>
            {% for message in messages %}
              <div class="message"><li class="{{ message.tags }}">{{ message }}</li></div>
            {% endfor %}
          </ul>
        </div>
      {% endif %}

      <div class="all_stores">
        <form action="" method="post">
          {% csrf_token %}
          {% for store in available_stores %}
            <div class="store_choice">
              <a href="{% url 'grocerystore:store' zipcode.zipcode store.pk %}">
              <p class="image">{% if store.store_pic %}<img src="{{ store.store_pic.url }}" alt="" />{% endif %}</p>
              <p class="store_name">{{ store.store_location }}</p></a>
            </div>
          {% endfor %}
        </form>
      </div>

    </div> <!-- end of main content -->


    <footer class="footer navbar-fixed-bottom"> <!-- beginning of footer -->
      <div id="footer_links">
        <a target="_blank" href="https://www.github.com/eugenielm/">Github</a>
        |
        <a target="_blank" href="https://www.linkedin.com/in/eugenie-le-moulec/">LinkedIn</a>
        |
        <a href="{% static 'grocerystore/LE_MOULEC_Eugenie-RESUME.pdf' %}" download="LE_MOULEC_eugenie_resume.pdf">Resume</a>
        |
        <p id="footer_contact">Contact: eugenie.le.moulec@gmail.com</p>
      </div>
    </footer> <!-- end of footer -->


  </body>

</html>
