{% extends 'grocerystore/base_with_search.html' %}
{% load static from staticfiles %}

{% block content %}

  <div class="page-header">
    <h4>{{ store.store_name }}</h4> <h6>({{store.store_location}})</h6>
    <a href="{% url 'grocerystore:checkout' zipcode store.pk %}" class="btn btn-success btn-xs">Checkout</a>
  </div>


  <div class="container"> <!-- beginning of main content -->

    {% if messages %}
      {% for message in messages %}
        {% if message.tags == 'error' %}
          <div class="alert alert-danger" role="alert">{{ message }}</div>
        {% else %}
          <div class="alert alert-{{message.tags}}" role="alert">{{ message }}</div>
        {% endif %}
      {% endfor %}
    {% endif %}

    <div id="store_categories">
      {% if purchases_here %}
      <a href="{% url 'grocerystore:buyagain' zipcode store_id %}">
        <div id="buy_again">
          <h4>BUY IT AGAIN</h4>
        </div>
      </a>
      <a href="{% url 'grocerystore:orders' zipcode store_id %}">
        <div id="old_order">
          <h4>RE-PLACE A PREVIOUS ORDER</h4>
        </div>
      </a>
      {% endif %}

      {% if all_categories %}
        <div class="panel-group category" id="accordion">
        {% for key, values in all_categories.items %}
          <div class="panel panel-default">
            <div class="link_div">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle btn-block collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse{{key.pk}}" aria-expanded="false">{{ key.top_category }}</a>
                </h4>
              </div>
            </div>
            <div id="collapse{{key.pk}}" class="panel-collapse collapse" aria-expanded="false">
              <ul class="list-group">
                {% for item in values %}
                  <a href="{% url 'grocerystore:instock' zipcode store_id key.pk item.pk %}">
                    <li class="list-group-item">
                      {{ item.sub_category_name }}
                    </li>
                  </a>
              {% endfor %}
              </ul>
            </div>
          </div>
        {% endfor %}
        </div>
      {% else %}
        <p>Sorry, there's nothing in stock at {{ store }} at the moment. Please come back later!</p>
      {% endif %}
    </div>


  </div> <!-- end of main content -->

{% endblock %}
