{% extends 'grocerystore/base.html' %}

<head>
    {% block head %}

      {% if messages %}
        <ul class="messages">
            {% for message in messages %}
              {{ message }}
            {% endfor %}
        </ul>
      {% endif %}

    {% endblock %}
</head>

<body>
  {% block body %}

    {% for store in available_stores %}
      <ul><li>
        <a href="{% url 'grocerystore:store' store.id %}"> {{ store.store_name }} / {{ store.store_location }} / {{ store.store_city }} / {{ store.store_state }} </a><br>
      </li></ul>
    {% endfor %}


    <a href="{% url 'grocerystore:index' %}">Choose a store</a><br>

  {% endblock %}
</body>
