.jumbotron {
  display: block;
  text-align: center;
}

.jumbotron p {margin: 0px}


body {background-color: rgba(25, 113, 94, 0.29)}


.page-header, .footer {
  margin: 20px;
  padding: 0px;}

div.page-header {margin-bottom: 5px}

.page-header h1, h2, h3, h4, h5, h6 {margin-top: 5px}


.container div {margin: 0px 0px}


.footer {
  margin-bottom: 5px;
  text-align: right;
  font-size: 10px;
}

.footer .messages {text-align: left;}

.footer ul {list-style-type: none}

.footer li {
  border-style: dashed;
  border-width: thin;
  display: inline-block;
  border-radius: 5px;
  overflow: visible;
  overflow: inherit;
  padding: 3px;
}


/* messages in session */
.info {background-color: rgba(19, 108, 243, 0.25)}
.error {background-color: rgba(234, 38, 56, 0.32)}
.success {background-color: rgba(202, 85, 122, 0.4)}

.panel-title a {
  text-decoration: none;
}


/* carts display */
.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}


/* error messages for invalid input in forms */
div.errorlist p {
  display: inline;
  font-size: 10px;
  font-style: italic;
  color: red;
}


form#registration_form {
  margin: 0px;
}

#user_table td, #address_table td, #login_form td {
  display: inline-block;
  margin-bottom: 10px;
}

#user_table td.field_label, #address_table td.field_label, #login_form td.field_label {
  width: 140px;
  font-weight: bold;
}

.qty_selection {
  display: inline-block;
  margin-left: 12px;
}

.available_products a, .list-group-item a {text-decoration: none}
